tr(data-day=dayIndex, data-order=orderIndex, data-numerator=-1, data-status='busy')  
  td.activity-index= (orderIndex + 1)
  td.activity-time=(extendedOrders[orderIndex][lesson.timeStart] + ' - ' + extendedOrders[orderIndex][lesson.timeEnd])
  td.numerator Т
  td.activity-type(colspan=3)
    include activity_description_new_reg
  td.place= (lesson.place)